.about-us-page-container {
    max-width: 1360px;
    margin: 65px auto 0 auto;
}

.about-us-page-container .about-us-text p {
    max-width: 595px;
    font-size: 18px;
}

.about-us-page-container .about-us-header p {
    margin-bottom: 50px;
}

.about-us-page-container .about-us-text p {
    margin-bottom: 55px;
}

.about-us-page-first {
    display: flex;
    margin-bottom: 100px;
}

.about-us-images-container .row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.about-us-element {
    height: 168px;
    display: flex;
    width: 325px;
    border: 1px solid #DBC9B1;
    margin: 0 10px;
    padding: 0;
}

.about-us-element img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.about-us-element .text-element {
    margin: auto;
    text-align: center;
}

.about-us-element .text-element p {
    margin: 0;
}

.about-us-element .text-element .main-text {
    font-size: 48px;
    line-height: 120%;
}

.about-us-element .text-element .second-text {
    font-size: 22px;
    line-height: 120%;
}

.virtual-tour .virtual-header p {
    margin-top: 148px;
    margin-bottom: 35px;
}

.virtual-tour-container {
    display: flex;
}

.virtual-tour-container .images-right {
    margin-left: 20px;
}

.virtual-tour-container .images-right img {
    margin-bottom: 20px;
}

.about-us-page-container .after-footer-row {
    margin: 11px auto 12px auto;
}