.insurance-page-container {
    max-width: 1360px;
    margin: 65px auto 0 auto;
}

.insurance-page-container .insurance-data {
    display: flex;
    max-width: 1360px;
}

.insurance-page-container .insurance-text-container .insurance-text {
    display: flex;
}

.insurance-page-container .insurance-text-container .insurance-text .left p {
    max-width: 643px;
}

.insurance-page-container .insurance-text-container .insurance-text .right p {
    max-width: 561px;
    margin-bottom: 28px;
}

.insurance-page-container .insurance-data p {
    margin-bottom: 50px;
}

.insurance-page-container .partners-header p {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 150%;
    margin-top: 11px;
    margin-bottom: 40px;
}

@media screen and (max-width: 1428px) {
    .insurance-page-container  .insurance-container {
        display: grid;
        grid-template-columns: 436px 436px;
        gap: 24px;
        margin: 0 auto;
        justify-content: center;
    }
    .insurance-page-container  .insurance-container .row {
        display: contents;
    }
}

@media screen and (max-width: 1400px) {
    .insurance-page-container {
        /*margin: 65px 40px 0 40px;*/
        margin: 60px 20px 12px 20px;
    }
}
@media screen and (max-width: 1100px) {
    .insurance-page-container .insurance-text-container .insurance-text {
        display: block;
    }
}

@media screen and (max-width: 920px) {

    .insurance-page-container  .insurance-container {
        grid-template-columns: auto auto;
    }

    .insurance-page-container  .insurance-container .service-element {
        width: 158px;
        height: 158px;
    }
}

@media screen and (max-width: 800px) {
    .insurance-page-container .insurance-data p {
        text-align: center;
        margin-bottom: 20px;
    }
}