.insurance-page-container {
    max-width: 1360px;
    margin: 65px auto 0 auto;
}

.insurance-page-container .insurance-data {
    display: flex;
    max-width: 1360px;
}

.insurance-page-container .insurance-text-container .insurance-text {
    display: flex;
}

.insurance-page-container .insurance-text-container .insurance-text .left p {
    max-width: 643px;
}

.insurance-page-container .insurance-text-container .insurance-text .right p {
    max-width: 561px;
    margin-bottom: 28px;
}

.insurance-page-container .insurance-data p {
    margin-bottom: 50px;
}

.insurance-page-container .partners-header p {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 150%;
    margin-top: 11px;
    margin-bottom: 40px;
}