@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy/Gilroy-Regular.ttf);
}

html{

  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body
{
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body p {
  color: #02111B;
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.main-page-container {
  margin: 60px 48px 12px 42px
}

.main-page-container .intro-main {
  display: flex;
  margin: 0 auto 0 auto;
  max-width: 1360px;
}

.main-page-container .intro-main .left p {
  line-height: 63px;
  max-width: 716px;
  margin: 0;
}

.main-page-container .intro-main .right p {
  max-width: 287px;
}

.main-page-container .intro-main .right {
  /*margin-right: 6.8%;*/
  margin-right: 93px;
}

.right {
  margin-left: auto;
}

.main-page-container .hero-img {
  background-image: url(../img/main-hero.png);
  background-repeat: no-repeat;
  height: 445px;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;


  width: 100vw; /* 100% ширины вьюпорта */
  position: relative;  /*включаем left */
  left: 50%; /* устанавливаем левый край non-container в центр container'a */
  transform: translateX(-50%);

  margin-top: 50px;
}

.main-page-container .hero-img .img1 {
  /*background-image: url(../img/main-hero1.png);*/
  /*width: 334px;*/
  /*height: 445px;*/
}
.main-page-container .hero-img .img2 {
  /*background-image: url(../img/main-hero2.png);*/
  /*width: 1184px;*/
  /*height: 445px;*/
}

.main-page-container .virtual-container {
  margin: 100px auto 0 auto;
  display: flex;
  max-width: 1360px;
}

.main-page-container .virtual-container .virtual-header {
  margin-top: 22px;
  max-width: 559px;
}

.main-page-container .virtual-container .left, .main-page-container .virtual-container .right {
  width: 50%;
}

.main-page-container .virtual-container .virtual-description {
  margin-top: 40px;
  max-width: 438px;
  font-size: 18px;
  line-height: 150%;
}

.main-page-container .virtual-container .virtual-btn {
  margin-top: 45px;
  cursor: pointer;
  display: flex;
}

.main-page-container .virtual-container .right {
  display: flex;
}

.main-page-container .virtual-container .right iframe {
  margin-left: auto;
}

.main-page-container .services-container {
  margin-top: 100px;
}

.main-page-container .header {
  font-size: 54px;
  line-height: 120%;
}

.services-header, .insurance-header {
  text-align: center;
}

.services-header p, .insurance-header p {
  margin-bottom: 50px;
}

.service-element {
  height: 168px;
  display: flex;
  width: 325px;
  border: 1px solid #DBC9B1;
  margin: 0 10px;
}

.service-element:first-child {
  margin-left: 0;
}

.service-element:last-child {
  margin-right: 0;
}

.service-element .right, .service-element .left {
  margin: auto auto;
}

.service-element .right  p {
  margin: 0;
  text-align: center;
  max-width: 118px;
}

.services-points .row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.doctors-container {
  margin: 78px 0 0 0;
}

.doctors-header {
  display: flex;
  max-width: 1360px;
  margin: 0 auto;
}

.doctors-header .virtual-btn {
  margin: auto 0 18px auto;
  display: flex;
}

.doctors-block-grid .item-container {
  border-radius: 10px;
  height: 520px;
  width: 410px;
  background-repeat: no-repeat;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; /* Современные браузеры */
}

.info-doctor {
  background: #FDFDFD;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-top: 95%;
  padding: 16px 26px;
}

.doctors-container .doctors-block-grid .item-container .doctor-name p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  color: #02111B;
  margin-bottom: 5px;
}

.doctors-container .doctors-block-grid a {
  text-decoration: none;
}

.doctors-container .doctors-block-grid .item-container .doctor-specialization p,
.doctors-container .doctors-block-grid .item-container .doctor-prof-category p {
  margin-bottom: 5px;
}

.doctors-header p {
  margin-bottom: 50px;
}

.insurance-container .row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.service-element img {
  width: 100%;
  margin: auto;
  max-height: 120px;
}

.service-element .virtual-btn {
  display: flex;
  margin: auto;
  text-transform: uppercase;
}

.service-element .virtual-btn img {
  width: auto;
}

.photo-container {
  background-image: url(../img/footer-img.png);
  background-repeat: no-repeat;
  height: 608px;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;


  width: 100vw; /* 100% ширины вьюпорта */
  position: relative;  /*включаем left */
  left: 50%; /* устанавливаем левый край non-container в центр container'a */
  transform: translateX(-50%);

  margin-top: 100px;
}

.photo-container .contact-info {
  position: absolute;
  width: 473px;
  top: 42px;
  right: 10%;
  padding: 39px 48px;

  background: #F8F8F8;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 40px 70px rgba(15, 99, 146, 0.02), 0px 22.3363px 17.869px rgba(15, 99, 146, 0.0417275), 0px 6.6501px 5.32008px rgba(15, 99, 146, 0.0282725);
  border-radius: 10px;
}

.photo-container .contact-info .contact-header p, .photo-container .contact-info .contact-footer p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 120%;
  color: #02111B;
  text-align: left;
}

.photo-container .contact-info .mobile-container, .photo-container .contact-info .phone-container {
  display: flex;
  padding: 13px 15px 13px 15px;
  background: #F3F3F3;
  border-radius: 5px;
  margin: 12px 0;
}

.photo-container .contact-info .mobile-container p,  .photo-container .contact-info .phone-container p {
  margin: 0 0 0 13px;
}

.photo-container .contact-info .text-container {
  background: #F3F3F3;
  border-radius: 5px;
  padding: 13px 15px 13px 38px;
  margin: 12px 0;
}

.photo-container .contact-info .text-container p {
  margin: 0;
}

.photo-container .contact-info .contact-footer p {
  margin-top: 36px;
}

.about-us-container {
  max-width: 1360px;
  margin: 100px auto 0 auto;
}
.about-us-container .about-us-info-container {
  display: flex;
}

.about-us-container .about-us-info-container .list-container {
  max-width: 580px;
}

.about-us-container .about-us-info-container .list-container .element {
  display: flex;
  padding: 22px 0 19px 0;
  border-bottom: 1px solid #DBC9B1;
}

.about-us-container .about-us-info-container .list-container .element p {
  margin: 0;
}

.about-us-container .about-us-info-container .list-container .element img {
  margin-right: 87px;
}

.about-us-container .about-us-info-container .about-us-info-text {
  max-width: 530px;
  margin-top: 22px;
}

.virtual-btn {
  display: flex;
}

.about-us-container .about-us-info-container .virtual-btn {
  margin-top: 100px;
}

.instagram-container {
  /*display: flex;*/
  max-width: 1360px;
  margin: 27px auto 74px auto;
}

.instagram-container .row {
  display: flex;
  gap: 25px;
}

.instagram-container .row .element {
  max-width: 252px;
}

.instagram-container .inst-data {
  display: flex;
  justify-content: end;
  margin-top: 14px;
}

.instagram-container .inst-data p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  font-size: 37.3036px;
  line-height: 120%;
}

.instagram-container .inst-data svg {
  width: 28.5px;
  height: 28.5px;
  margin-right: 13px;
  margin-top: 8px;
}