.service-type-page-container {
    max-width: 1360px;
    margin: 65px auto 0 auto;
}
.page-content1-container {
    display: flex;
    border: 1px solid #DBC9B1;
    border-radius: 30px;
    overflow: hidden;
}

.page-content1-container .service-header {
    margin: 30px 0 70px 29px;
    font-family: Gilroy;
}
.page-content1-container .service-content1 {
    font-family: Gilroy;
    margin-left: 29px;
    font-size: 18px;
    max-width: 645px;
}

.page-content2-container {
    font-family: Gilroy;
    margin-top: 50px;
    margin-left: 29px;
}

.page-content2-container h2 {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    margin-bottom: 30px;
    margin-top: 35px;
}

.page-content2-container ol, .page-content1-container ol {
    padding-left: 0;
}

.page-content2-container ol li,  .page-content1-container  ol li {
    list-style-type: none;
    display: flex;
    margin: 10px 0;
}
.page-content2-container ol li:before,  .page-content1-container ol li:before {
    /*content: url("data:image/svg+xml,%3Csvg width='31' height='1' viewBox='0 0 31 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='4.37114e-08' y1='0.5' x2='31' y2='0.500003' stroke='%2302111B'/%3E%3C/svg%3E");*/
    /*display: block;*/
    margin: auto 15px auto 0;

    /*background-image: url("data:image/svg+xml,%3Csvg width='31' height='1' viewBox='0 0 31 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='4.37114e-08' y1='0.5' x2='31' y2='0.500003' stroke='%2302111B'/%3E%3C/svg%3E");*/
    display: inline-block;
    width: 31px;
    height: 1px;
    content:"";
    border-top: 1px solid #02111B;
    min-width: 31px;
}

.page-content2-container ul {
    padding-left: 25px;
}

.right-mobile {
    display: none;
}

.sm-hidden {
    display: none;
}

@media screen and (max-width: 1400px) {
    .service-type-page-container {
        /*margin: 65px 40px 0 40px;*/
        margin: 20px 20px 12px 20px;
    }



    /*.page-content1-container {*/
    /*    border: none;*/
    /*}*/

    .page-content1-container .service-content1 {
        max-width: 610px;

    }

    .page-content1-container .service-content1 {
        margin-left: 29px;
    }

    .page-content1-container .service-header {
        text-align: left;
    }

    .page-content2-container {
        margin-left: 0;
    }

    .page-content1-container .right img {
        /*border-bottom-left-radius: 30px;*/
        /*border-top-left-radius: 30px;*/
    }

}

@media screen and (max-width: 1200px) {

    .service-type-page-container .service-header {
        font-size: 40px;
    }

    .service-type-page-container .page-content1-container .left {
        width: 60%;
    }

    .service-type-page-container .page-content1-container .service-content1 {
        font-size: 16px;
        max-width: 440px;
    }

    .page-content1-container .right {
        display: none;
    }

    .page-content1-container .right-mobile {
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        width: 40%;
    }

    .page-content1-container .right img {
        display: none;
    }

}

@media screen and (max-width: 980px) {
    .page-content1-container .right-mobile {
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
    }

    .service-type-page-container .page-content1-container .left {
        width: 60%;
    }

    .service-type-page-container .page-content1-container .service-content1 {
        max-width: none;
    }
    /*.sm-hidden {*/
    /*   display: block;*/
    /*}*/

    /*.main-hidden {*/
    /*    display: none;*/
    /*}*/
}

@media screen and (max-width: 920px) {
    .page-content1-container .right-mobile {
        background-size: cover;
    }
}

@media screen and (max-width: 800px) {

    .page-content1-container {
        margin: 0 auto;
    }

    .page-content1-container {
        display: block;
        max-width: 620px;
        overflow: auto;
    }
    .page-content1-container .service-content1 {
        min-width: auto;
        margin: 0 29px 0 29px;
    }

    .page-content1-container .service-header {
        margin: 30px 20px 20px 29px;
        /*text-align: center;*/
    }
    .page-content1-container img {
        width: 100%;
    }
    .page-content2-container h2 {
        font-size: 18px;
    }
    .page-content2-container ol li {
        font-weight: 500;
    }

    .page-content1-container .right-mobile {
        display: none;
    }

    .page-content1-container .right {
        display: block;
    }

    .page-content1-container .right img {
        display: block;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    .service-type-page-container .page-content1-container .service-content1 {
        max-width: none;
    }

    .service-type-page-container .page-content1-container .left {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .page-content1-container {
        border: none;
        border-radius: unset;
    }
    .page-content1-container .service-content1 {
        margin: 0;
    }
    .page-content1-container .service-header {
        margin: 30px 20px 20px 0;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 29px;
    }

    .page-content1-container .right img {
        display: block;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
}