@charset "UTF-8";
@font-face {
    font-family: IBMPlex;
    src: url(../fonts/IBM/IBMPlexSans-Regular.ttf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Tenor;
    src: url(../fonts/Tenor/TenorSans-Regular.ttf);
    /* Путь к файлу со шрифтом */
}

.spa-intro {
    margin: 38px 0 0 0;
    display: flex;
    margin-left: calc(60% - 50vw);
}

.spa-intro .text .img-pos {
    position: absolute;
    top: 30%;
    left: 11%;
}

.spa-intro .main-img {
    margin-top: 106px;
}

.spa-intro .description {
    display: flex;
    margin-right: 104px;
    margin-top: 6%;
}

.spa-intro .description .inner-text {
    text-align: right;
    font-family: Tenor;
    font-weight: 400;
    line-height: 59px;
    font-size: 54px;
    color: #02111B;
}

.spa-intro .description .first-text {
    margin-left: 70px;
    margin-top: 27px;
    font-family: IBMPlex;
    font-weight: 400;
    line-height: 27px;
    font-size: 18px;
    color: #02111B;
    margin-bottom: 40px;
}

.spa-intro .description .second-text {
    font-family: IBMPlex;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    color: #02111B;
    margin-top: 20px;
}

.spa-intro .description .third-text {
    font-family: IBMPlex;
    font-weight: 400;
    line-height: 110%;
    font-size: 54px;
    color: #FECC00;
    max-width: 85%;
    margin-bottom: 10px;
}

.spa-intro .description .forth-text {
    font-family: IBMPlex;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    color: #02111B;
    margin-bottom: 20px;
}

.spa-intro .description .fifth-text {
    font-family: IBMPlex;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    color: #02111B;
    margin-top: 10px;
    display: flex;
}

.spa-intro .description .fifth-text img {
    margin-right: 20px;
}

.spa-intro .inner-sub-title {
    font-family: Tenor;
    font-weight: 400;
    line-height: 39px;
    font-size: 30px;
    color: #02111B;
    margin-top: 50px;
    margin-bottom: 10px;
}

.spa-intro .inner-sub-text {
    font-family: IBMPlex;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    color: #02111B;
    margin-top: 10px;
    display: flex;
}
.image-box {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 70px;
}
.image-box div:nth-child(2n+1) {
    margin-top: 70px;
}
.image-box div {
    width: 24%;
    text-align: center;
    margin-bottom: 20px;
    min-height: 280px;
}
.text .inner-sub-text {
    max-width: 690px;
    font-family: IBMPlex;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    color: #02111B;
    margin-top: 10px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
}
.inner-sub-text-second {
    max-width: 785px;
    font-family: IBMPlex;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    color: #02111B;
    margin-top: 10px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.kov-image {
    position: relative;
    height: 50px;
}
.spa-intro .text .img-pos {
    left: 5%;
}
@media screen and (max-width: 1450px) {
    .image-box div {
        width: 32%;
        margin-top: 2px;
    }
    .image-box div:nth-child(2n+1) {
        margin-top: 82px;
    }
    .spa-intro .text .img-pos {
        /*top: 69%;*/
    }

    .spa-intro .description {
        margin-right: 109px;
        margin-top: 98px;
    }

    .spa-intro .description .inner-text {
        margin-right: 4%;
    }

    .spa-intro .description .first-text {
        margin-left: 106px;
    }

    .spa-intro .description .forth-text {
        margin-bottom: 20px;
        margin-left: 12px;
        max-width: 514px;
    }

    .spa-intro .description .fifth-text {
        margin-top: 10px;
        max-width: 544px;
        margin-left: 12px;
    }

    .spa-intro .description .fifth-text img {
        margin-right: 20px;
        position: absolute;
    }

    .spa-intro .description .fifth-text div {
        margin-left: 53px;
    }

    .spa-intro .description .second-text {
        margin-left: 12px;
        width: 545px;
    }
    .spa-intro .inner-sub-title {
        margin-left: 1%;
    }
    .text .inner-sub-text {
        max-width: 564px;
        margin-bottom: 30px;
        margin-left: 1%;
        margin-top: 21px;
    }
    .spa-text .inner-sub-text {
        font-family: 'IBMPlex';
        max-width: 680px;
        margin-bottom: 50px;
        margin-left: 271px;
        margin-top: -20px;
        font-size: 18px;
        line-height: 27px;
    }
    .inner-sub-text-second {
        margin-left: 270px;
    }
}
@media screen and (max-width: 1920px) {
    .image-box div {
        width: 33%;
    }
}
@media screen and (max-width: 1880px) {
    .spa-intro .text .img-pos {
        /*top: 48%;*/
    }
}
@media screen and (max-width: 1400px) {
    .spa-intro {
        margin-left: calc(52% - 50vw);
    }

    .spa-intro .text .img-pos {
        /*left: 6%;*/
        /*top: 45%;*/
    }
    .image-box div{
        width: 33%;
    }
}
@media screen and (max-width: 1350px) {
    .image-box div{
        width: 45%;
    }
}
@media screen and (max-width: 1280px) {
    .spa-intro .text .img-pos {
        /*top: 59%;*/
    }
}
@media screen and (max-width: 1250px) {
    .spa-intro .description {
        margin-right: 2%;
    }
    .spa-intro .text .img-pos {
        /*top: 58%;*/
    }
}
@media screen and (max-width: 1190px) {
    .spa-text .inner-sub-text {
        max-width: 100%;
        margin-left: 3%;
    }
    .inner-sub-text-second {
        margin-right: 1%;
        margin-left: 3%;
        margin-top: 2%;
        max-width: 100%;
    }
    .spa-intro .description .inner-text {
        line-height: 48px;
        font-size: 40px;
    }

    .spa-intro .description .first-text {
        font-size: 16px;
        line-height: 24px;
    }

    .spa-intro .description .forth-text {
        font-size: 16px;
        line-height: 24px;
    }

    .spa-intro .description .fifth-text {
        line-height: 21px;
        font-size: 14px;
    }

    .spa-intro .description .second-text {
        line-height: 21px;
        font-size: 14px;
    }

    .spa-intro .main-img {
        width: 520px;
    }
    .spa-intro .text .img-pos {
        /*top: 44%;*/
    }
}
@media screen and (max-width: 1120px) {
    .spa-intro {
        display: block;
    }
    .spa-intro .description .inner-text {
        text-align: left;
    }
    .spa-intro .description .first-text {
        margin-left: 0;
    }
    .spa-intro .text .img-pos {
        /*top: 37%;*/
        /*left: 2%;*/
    }
    .spa-intro .description .forth-text {
        margin-left: 0;
        max-width: 100%;
    }
    .spa-intro .description .second-text {
        margin-left: 0;
        max-width: 100%;
    }
    .spa-intro .main-img {
        margin-top: 20px;
        width: 100%;
        padding-right: 2%;
    }
    .spa-text .inner-sub-text {
        margin-right: 2%;
    }
}
@media screen and (max-width: 990px) {
    .image-box div {
        width: 50%;
    }
}
@media screen and (max-width: 890px) {
    .image-box div {
        width: 100%;
    }
    .image-box div:nth-child(2n+1) {
        margin-top: 7px;
    }
    .spa-intro .text .img-pos {
        /*top: 31%;*/
    }
}
@media screen and (max-width: 630px) {
    .spa-intro .text .img-pos {
        /*top: 40%;*/
        /*left: 1%;*/
    }
}
@media screen and (max-width: 550px) {
    .spa-intro .description .text {
        max-width: 100%;
    }
    .spa-intro .text .img-pos {
        /*top: 42%;*/
    }
}
@media screen and (max-width: 450px) {
    .spa-intro .main-img {
        width: 100%;
    }
    .image-box {
        margin-right: 3%;
        margin-left: 3%;
    }
    .image-box div img {
        width: 100%;
    }
}
@media screen and (max-width: 400px) {
    .image-box {
        margin-bottom: 20px;
    }
}
/*# sourceMappingURL=implantation-page.css.map */
